@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Mukta&family=Orbitron&family=Poppins:wght@500;600;700&family=Roboto&family=Work+Sans:wght@400;500&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Work Sans', sans-serif; */
}

/* =====================================================
               CSS VARIABLES DEFINING
======================================================== */

:root{
    --heading: rgb(0, 10, 45);
    --para: #777;
    --helper: #8490ff;
    --gradient: linear-gradient(to right, rgb(132, 144, 255) 0%, rgb(98, 189, 252) 100%);
    --bggr: #E6E6FA;
}

.container{
    width: 100vw;
    height: 100vh;
    background-color: var(--bggr);
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 20%;
    height: 75%;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: ease 0.3s;
    
}

.card:hover{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 25px 50px -12px;
    transform: translateY(-10px);
}

img{
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.textbox{
    width: 100%;
    /* background-color: #8490ff; */
    display: flex;
    flex-direction: column;
    gap: 7px;
    text-align: center;
    padding: 0 11px;
    padding-top: 4px;
}

h3{
    color: var(--heading);
    font-weight: bold;
}

.textbox p{
    font-size: 14px;
    color: var(--para);
    line-height: 19px;
}


.amountbox{
    width: 80%;
    height: 11%;
    background-color: var(--bggr);
    border-radius: 5px;
    display: flex;
    align-items: center;
    font-size: 13px;
    padding: 10px;

}

.imgbox{
    width: 25%;
    margin-top: 5px;
}

.leftbox{
    display: flex;
    gap: 5px;
}

.textamount{
    margin-top: 6px;
    line-height: 16px;
}


#paybtn{
    width: 80%;
    height: 9%;
    border: none;
    background-image: var(--gradient);
    color: white;
    border-radius: 5px;
    transition: ease 0.3s;
}

#paybtn:hover{
    cursor: pointer;
    transform: scale(1.01);
}











